# cache
__pycache__
.env
.mypy_cache
*.pyc
*.pyo

# tests
/htmlcov/
.coverage


# credentials
*.crt
*.key
*.pem
24hrs.token

# transaction data
*.db
*.log
*.pickle

# development
#*.code-workspace
.jupyter
.ipynb_checkpoints

# develop enviroments
env/
venv/
.venv/
dist/
build/
*.egg
*.egg-info/
.tox/
.cache/
.pytest_cache/
#.vscode

